/.metadata/
*/.classpath
*/.project
E-Sporter/src/Application/config.properties
E-Sporter/hs_err_pid19060.log
E-Sporter/.classpath
*.log
E-Sporter/codemr/*
E-Sporter/.settings/org.eclipse.jdt.core.prefs
*.prefs
